<div class="row">
    <div class="col-md-3">
        <app-product-image [product]="product"></app-product-image>
    </div>
    <div class="col-md-9">
        <div class="d-flex flex-row justify-content-between">
            <div>
                <h5>{{product.name}}</h5>
                <span>{{product.sku}}</span>
                <div>
                    <app-product-department [product]="product"></app-product-department>
                </div>
            </div>

            <app-price-display [price]="product.price"></app-price-display>
        </div>
    </div>
</div>